#game {
    margin: 0 auto;
}

#music{
    position: relative;
    margin-bottom: 20px;
    left: 2%;
}

#score{
    position: relative;
    margin-top: 80px;
    left: 10%;
    width: 10%;
    text-align: center;
}

#toplist{
    margin: 20px auto;
}

.selected {
    -webkit-filter: drop-shadow(2px 2px 0 black)
    drop-shadow(-2px 2px 0 black)
    drop-shadow(2px -2px 0 black)
    drop-shadow(-2px -2px 0 black);

    filter: drop-shadow(2px 2px 0 black)
    drop-shadow(-2px 2px 0 black)
    drop-shadow(2px -2px 0 black)
    drop-shadow(-2px -2px 0 black);
}
